@tailwind base;
@tailwind components;
@tailwind utilities;
.w-90{
 width: 300px;
}
.border-1{
    border-width: 1px;
}
.border-b-1{
    border-bottom-width:0.1px
}
.h-78{
    height:310px
}
@layer utilities{
    .inputbtn{
@apply p-2 w-72 my-1 rounded-md border-1 border-gray-300  
      }
  }